treecol[bind="http://songbirdnest.com/data/1.0#user"]
{
  text-align: left;
}

treecol[bind="http://songbirdnest.com/data/1.0#playcount"],
treecol[bind="http://songbirdnest.com/data/1.0#favcount"],
treecol[bind="http://songbirdnest.com/data/1.0#downloadImage"]
{
  background-image: url("chrome://soundcloud/skin/elements.png");
  background-repeat: no-repeat;
  max-width: 45px;
  min-width: 45px;
}

treecol[bind="http://songbirdnest.com/data/1.0#playcount"]
{
  background-position: 105% 1px;
}

treecol[bind="http://songbirdnest.com/data/1.0#favcount"]
{
  background-position: 105% -43px;
}

treecol[bind="http://songbirdnest.com/data/1.0#downloadImage"]
{
  background-position: 105% -68px;
  text-align: center;
}

treecol[bind="http://songbirdnest.com/data/1.0#user"] > label,
.sb-playlist-tree > treechildren::-moz-tree-cell-text( http-songbirdnest-com-data-1-0-user )
{
  padding-right: 15px;
}

.sb-playlist-tree > treechildren::-moz-tree-image( http-songbirdnest-com-data-1-0-downloadImage )
{
  cursor: pointer;
}

.header-actions {
  -moz-box-align: center;
  margin-right: 50px;
}

#soundcloud-logo {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 0px;
}

.adv-closed {
  -moz-transform: rotate(180deg);
}

#soundcloud-search {
  height: 60px;
  background-image: url(chrome://soundcloud/skin/bg-header-soundcloud.png);
}

#soundcloud-search-textbox {
  font-family: "Lucida Grande", Arial !important;
  font-size: 12px !important;
  background-color: #FFFFFF;
  height: 25px;
  border: 1px solid #EEEEEE;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
}

#soundcloud-search-btn {
  background-image: url(chrome://soundcloud/skin/bg-btn-search.png);
  background-position: 0px -5px;
  height: 25px;
  margin: 0px -5px;
  border: 1px solid #EEEEEE;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 5px;
}

#soundcloud-search-btn:hover, #soundcloud-search-btn:focus {
  background-position:0 -5px;
  cursor:pointer;
  color:#111;
  outline: none;
}

#soundcloud-search-btn:active {
  background-color: #bbb;
  background-image:none;
}

#soundcloud-search-btn > .button-box > label.button-text {
  color: #000000 !important;
  font-family: "Lucida Grande", Arial;
  font-size: 11px;
  text-shadow: white 0px 1px 0px;
}
